* {
	background-image: none;
	box-shadow: none;
}

window {
    background-color: transparent;}

button {
    border-radius: 0px;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button label {
	padding-top: 80px;
	font-weight:500;

}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

button:hover#lock {
    border-radius: 25px 0px 0px 0px;
	margin : 0px 0px 0px 0px;

}

button:hover#shutdown {
    border-radius: 0px 0px 0px 25px;
	margin : 0px 0px 0px 0px;

}

button:hover#suspend {
    border-radius: 0px 25px 0px 0px;
	margin : 0px 0px 0px 0px;
}

button:hover#reboot {
	border-radius: 0px 0px 25px 0px;
    margin : 0px 0px 0px 0px;
}


#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 25px 0px 0px 0px;
	margin : 50px 0px 0px 20px;

}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 25px;
	margin : 0px 0px 5px 20px;

}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 25px 0px 0px;
	margin : 5px 20px 0px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	border-radius: 0px 0px 25px 0px;
    margin : 0px 20px 5px 0px;
}
