* {
	background-image: none;
	box-shadow: none;
}

window {
    background-color: transparent;
}

button {
    color: #ffffff;
    background-color: #646471;
    text-decoration-color: #FFFFFF;
    border-color: white;

    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button label {
	padding-top: 80px;
	font-weight:500;

}

button:focus {
    background-color: #11111b;
    background-size: 25%;
}

button:hover {
    background-color: #3700B3;
    background-size: 25%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 25px 0px 0px 0px;
	margin : 15px 0px 0px 40px;

}

button:hover#shutdown {
    border-radius: 0px 0px 0px 25px;
	margin : 0px 0px 15px 40px;

}

button:hover#suspend {
    border-radius: 0px 25px 0px 0px;
	margin : 15px 40px 0px 0px;
}

button:hover#reboot {
	border-radius: 0px 0px 25px 0px;
    margin : 0px 0px 0px 0px;
}


#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 25px 0px 0px 0px;
	margin : 20px 0px 0px 80px;

}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 25px;
	margin : 0px 0px 20px 80px;

}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 25px 0px 0px;
	margin : 20px 80px 0px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	border-radius: 0px 0px 25px 0px;
    margin : 0px 80px 5px 0px;
}
